<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}" /> 
</head>
<body>
 <h1>Reynaldo Kelly </h1>
 <p>Hello, My name is Reynaldo Kelly, and I am a diligent employee with a strong interest in computing. 
    I want to have a tangible impact in this profession and be a catalyst for positive change. 
    Beyond my professional pursuits, I enjoy watching and actively participating in sports. Looking ahead, my ultimate goal is to build out a profession as a data analyst.
     </p>
    <img src="{{ url_for('static', filename='CWFJ3334.JPG') }}" />     
</body>
</html>